<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AdmincenterRoleMapper">
    <resultMap id="BaseResultMap" type="com.hnair.wallet.admincenter.model.AdmincenterRole">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Where">
        <if test="id != null">and id= #{id}</if>
        <if test="roleName != null and roleName !=''">and role_name= #{roleName}</if>
        <if test="description != null and description !=''">and description= #{description}</if>
    </sql>
    <sql id="Base_Column_List">
		id ,
		role_name ,
		description 
	</sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from admincenter_role
        where
        id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from admincenter_role
		where
		id = #{id,jdbcType=INTEGER}
	</delete>

    <insert id="insertSelective" parameterType="com.hnair.wallet.admincenter.model.AdmincenterRole" useGeneratedKeys="true" keyProperty="id">
        insert into admincenter_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="roleName != null and roleName !=''">role_name,</if>
            <if test="description != null and description !=''">description,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="roleName != null and roleName !=''">
                #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="description != null and description !=''">
                #{description,jdbcType=VARCHAR},
            </if>

        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.hnair.wallet.admincenter.model.AdmincenterRole">
        update admincenter_role
        <set>
            <if test="roleName != null and roleName !=''">
                role_name= #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="description != null and description !=''">
                description= #{description,jdbcType=VARCHAR}
            </if>
        </set>
        where
        id = #{id,jdbcType=INTEGER}
    </update>

    <select id="getAll" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from admincenter_role where 1=1
        <include refid="Base_Where"/>
    </select>
    <select id="pageCount" resultType="java.lang.Integer" parameterType="map">
        select count(1) from admincenter_role where 1=1
        <include refid="Base_Where"/>
    </select>
    <select id="pageData" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from admincenter_role where 1=1
        <include refid="Base_Where"/>
    </select>

    <select id="selectByIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from admincenter_role where id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="queryOperatorRolesByOperatorId" resultMap="BaseResultMap" parameterType="map">
        select
             ar.*
        from
             admincenter_role ar ,
             admincenter_operator ao ,
             admincenter_operator_role aor
        where
             ar.id = aor.role_id
             and aor.operator_id = ao.id
             and ao.id = #{operatorId}
    </select>
    
    <select id="getAllAdmincenterRoleOnPage" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from admincenter_role where 1=1
        <include refid="Base_Where"/>
        limit #{startIndex},#{pageSize}
    </select>

    <delete id="deleteRoleByRoleId" parameterType="map">
        delete from admincenter_role
        where id = #{roleId}
    </delete>

</mapper>
