<!doctype html>
<!--suppress ALL -->
<html lang="cn" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>HiPay后台管理系统</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>

</head>
<body>
<!-- 顶部开始 -->
<div class="container">
    <div class="logo">
        <a href="http://www.hnair.com/" style="height: 46px;background-color: #eeeeee">
            <img src="http://www.hnair.com/images/hlogo.png">
        </a>
    </div>
    <div class="left_open">
        <i title="展开左侧栏" class="iconfont">&#xe699;</i>
    </div>
    <ul class="layui-nav left fast-add" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;">+新增</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a onclick="x_admin_show('资讯','http://www.baidu.com')"><i class="iconfont">&#xe6a2;</i>资讯</a></dd>
                <dd><a onclick="x_admin_show('图片','http://www.baidu.com')"><i class="iconfont">&#xe6a8;</i>图片</a></dd>
                <dd><a onclick="x_admin_show('用户','http://www.baidu.com')"><i class="iconfont">&#xe6b8;</i>用户</a></dd>
            </dl>
        </li>
    </ul>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;"
               th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}+'('+${session.SPRING_SECURITY_CONTEXT.authentication.principal.operatorSource}+')'"></a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a onclick="x_admin_show('个人信息','http://www.baidu.com')">个人信息</a></dd>
                <dd><a onclick="x_admin_show('切换帐号','http://www.baidu.com')">切换帐号</a></dd>
                <dd><a href="/logout">退出登录</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item to-index"><a href="/">前台首页</a></li>
    </ul>

</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-release" style="color: #cb0303;"></i>
                    <cite>商户管理</cite>
                    <i class="iconfont nav_right" style="color: #cb0303;">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="/merchant/list">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>商户列表</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="/merchant/add">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>商户开户</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont" style="color: #cb0303;">&#xe723;</i>
                    <cite>充值管理</cite>
                    <i class="iconfont nav_right" style="color: #cb0303;">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="order-list.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>订单列表</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont" style="color: #cb0303;">&#xe723;</i>
                    <cite>消费管理</cite>
                    <i class="iconfont nav_right" style="color: #cb0303;">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="/consume/list">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>消费订单列表</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont" style="color: #cb0303;">&#xe723;</i>
                    <cite>退款管理</cite>
                    <i class="iconfont nav_right" style="color: #cb0303;">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="city.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>三级地区联动</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <div sec:authorize="hasAuthority('operator')">
                <li>
                    <a href="javascript:;">
                        <i class="iconfont" style="color: #cb0303;">&#xe726;</i>
                        <cite>管理员管理</cite>
                        <i class="iconfont nav_right" style="color: #cb0303;">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a _href="/operator/operatorList">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>管理员列表</cite>
                            </a>
                        </li>
                        <li>
                            <a _href="/operator/roleList">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>角色管理</cite>
                            </a>
                        </li>
                        <li>
                            <a _href="/operator/authorityList">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>权限管理</cite>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <li>
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-chart-screen" style="color: #cb0303;"></i>
                    <cite>系统统计</cite>
                    <i class="iconfont nav_right" style="color: #cb0303;">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="http://10.70.160.211:8899/">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>job控制台</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-read" style="color: #cb0303;"></i>
                    <cite>同仁共勉</cite>
                    <i class="iconfont nav_right" style="color: #cb0303;">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="javascript:;">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>团体以和睦为兴盛</cite>
                        </a>
                    </li>
                </ul>
                <ul class="sub-menu">
                    <li>
                        <a _href="javascript:;">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>精进以持恒为准则</cite>
                        </a>
                    </li>
                </ul>
                <ul class="sub-menu">
                    <li>
                        <a _href="javascript:;">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>健康以慎食为良药</cite>
                        </a>
                    </li>
                </ul>
                <ul class="sub-menu">
                    <li>
                        <a _href="javascript:;">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>诤议以宽恕为旨要</cite>
                        </a>
                    </li>
                </ul>
                <ul class="sub-menu">
                    <li>
                        <a _href="javascript:;">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>长幼以慈爱为进德</cite>
                        </a>
                    </li>
                </ul>
                <ul class="sub-menu">
                    <li>
                        <a _href="javascript:;">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>学问以勤习为入门</cite>
                        </a>
                    </li>
                </ul>
                <ul class="sub-menu">
                    <li>
                        <a _href="javascript:;">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>待人以至诚为基石</cite>
                        </a>
                    </li>
                </ul>
                <ul class="sub-menu">
                    <li>
                        <a _href="javascript:;">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>处众以谦恭为有理</cite>
                        </a>
                    </li>
                </ul>
                <ul class="sub-menu">
                    <li>
                        <a _href="javascript:;">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>凡事以预立而不劳</cite>
                        </a>
                    </li>
                </ul>
                <ul class="sub-menu">
                    <li>
                        <a _href="javascript:;">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>接物以谨慎为根本</cite>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
            <li class="home"><i class="layui-icon">&#xe68e;</i>后台首页</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src='/bgMain' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="page-content-bg"></div>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->
<!-- 底部开始 -->
<div class="footer" style="text-align: center">
    <div class="copyright">Copyright ©2018 Hipay加钱系统 v0.0-BETA 技术研发部收银台</div>
</div>
<!-- 底部结束 -->
<script>

</script>
</body>
</html>