<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>增加管理员</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/css/font-awesome.min.css">
    <link rel="stylesheet" href="/lib/css/main.css">
    <link rel="stylesheet" href="/lib/ztree/zTreeStyle.css">
    <script src="/lib/layui/layui.all.js"></script>
    <style>
        .layui-layer-title {
            background-color: #CB0303;
            color: white;
        }
    </style>
</head>
<body>
这里是商户添加界面111
</body>
</html>